@import "../utils/variables";
@import "../utils/colors";


button{
    width: 218px;
    height: 50px;
    border-radius: 25px;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background: linear-gradient(180deg, $degrade, $blue);
    border: none;
    @include valid-shadow;
        
    
}

.new{
    width: 80px;
    height: 29px;
    @include FlexRowCenter();
    background-color: #99e2d0;
    border-radius: 2px;
    color: #008766;
    font-weight: bold;
    border: none;
}