@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/colors";



.choice{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0px;
    width: 350px;
    height: 70px;
    @include box-shadow;
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;

    &:hover{
        cursor: pointer;
        
    }
    
    @media screen and (min-width: $breakpoint) {
        width: 100%;
        
    }
}

.validation{
    position: absolute;
    height: 100%;
    width: 60px;
    right: -60px;
    top: 0px;
    background: $cyan;
    border-radius: 0px 16px 16px 0px;

    &:hover{
        transform: translateX(-60px);
        transition: all 1s;
        
    }
    
    .circle{
        height: 30px;
        width: 30px;
        top: 20px;
        left: 5px;
        position: absolute;
        border-radius: 50%;
        background-color: white;
    }

    i{
        position: absolute;
        font-size: 20px;
        left: 7px;
        top: 7px;
        color: $cyan;
    }
}
