@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/colors";

.choice{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0px;
    width: 350px;
    height: 69px;
    @include box-shadow;
    border-radius: 16px;
    position: relative;
    z-index: 3;
    box-sizing: border-box;

    .validation{
        position: absolute;
        height: 100%;
        width: 59px;
        right: 0;
        top: 0px;
        z-index: 2;
        @include FlexRowCenter;
        background: $cyan;
        border-radius: 0px 16px 16px 0px;
        
        &:valid{
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $green;
                border-radius: 0px 16px 16px 0px;
            }
            translate: 100%;
        }
        &:hover{
            cursor: pointer;
        }
        
        .fa-circle-check{
            position: absolute;
            font-size: 20px;
            z-index: 1;
            background-color:white;
            width: 25px;
            height: 25px;
            right: 15px;
            color: $cyan;
            border-radius: 50%;
        }
    }
        
    

    @media screen and (min-width: $breakpoint) {
        width: 100%;
        
    }
}
