@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/colors";




.heart{
    width: 21px;
    height: 20px;
    position: relative;
    
        & .empty{
            position: absolute;
            z-index: 3;
            opacity: 1;
            font-size: 24px;
            color: black;
            background-color: #ffffff;
            &:hover{
                opacity: 0; 
                transition: 600ms;
            }
        }
        & .full{
            z-index: 2;
            background: linear-gradient(180deg, $degrade, $blue);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 24px;
        }
}