@import "../utils/variables";
@import "../utils/colors";



@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




/********* LOADER **********/



@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}




/********* CHOICE **********/


@keyframes anim-scale { 
    0% {
        transform: scaleX(1);
        
    }
    100% {
        transform: scaleX(-60px);
        
    }
     }

     @keyframes anim-validation { 
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-59px);
        }
         }
@keyframes anim-choice {
    0% {
        transform: translateX(-500px);
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.anim1{
    animation: anim-choice 1s ;
}
.anim2{
    animation: anim-choice 1.5s ;
}
.anim3{
    animation: anim-choice 2s ;
}
.anim4{
    animation: anim-choice 2.5s ;
}
.anim5{
    animation: anim-choice 3s ;
}
.anim6{
    animation: anim-choice 3.5s ;
}
.anim7{
    animation: anim-choice 4s ;
}
.anim8{
    animation: anim-choice 4.5s ;
}
.anim9{
    animation: anim-choice 5s ;
}
.anim10{
    animation: anim-choice 5.5s ;
}
.anim11{
    animation: anim-choice 6s ;
}
.anim12{
    animation: anim-choice 6.5s ;
}
.anim13{
    animation: anim-choice 7s ;
}
.anim14{
    animation: anim-choice 7.5s ;
}
.anim15{
    animation: anim-choice 8s ;
}
.anim16{
    animation: anim-choice 8.5s ;
}
.anim17{
    animation: anim-choice 9s ;
}

