@import "../utils/variables";
@import "../utils/colors";



@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




/**************** LOADER ****************/




@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}





/********* ANIMATIONS MENU STAIRCASE **********/




@keyframes show-menu {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.delay-menu-1 {
    transform-origin: right;
    animation: show-menu 500ms 800ms forwards;
  }
   
  .delay-menu-2 {
    transform-origin: right;
    animation: show-menu 500ms 1000ms forwards;
  }
   
  .delay-menu-3 {
    transform-origin: right;
    animation: show-menu 500ms 1200ms forwards;
  }





/***************** CHOICE *****************/






@keyframes anim-menu { 
    0% {
        transform: translateX(0px);
        opacity: 0;
        
    }
    50% {
        
        transform: translateX(-30px);
        opacity: 0;
        
    }
    100% {
        
        transform: translateX(-60px);
        opacity: 1;
        
    }
}