@import "../utils/variables";
@import "../utils/colors";



@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




/********* LOADER **********/



@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}




/********* HEART **********/


.heart{
    width: 21px;
    height: 20px;
    position: relative;
    
        & .empty{
            position: absolute;
            z-index: 2;
            opacity: 1;
            font-size: 24px;
            color: black;
            &:hover{
                z-index: 3;
                opacity: 0;
                transform: 600ms;
            }
        }
        & .full{
            position: absolute;
            z-index: 3;
            opacity: 0;
            background: linear-gradient(#9356dc, #ff79da);
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 24px;
            transition: 600ms;
            &:hover{
                z-index: 2;
                opacity: 1;   
            }
        }
    }




/********* CHOICE **********/





@keyframes anim-menu { 
    0% {
        transform: translateX(0px);
        opacity: 0;
        
    }
    50% {
        
        transform: translateX(-30px);
        opacity: 0;
        
    }
    100% {
        
        transform: translateX(-60px);
        opacity: 1;
        
    }
     }

@keyframes show-menu {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


