@import "../utils/variables";
@import "../utils/colors";




@mixin box-shadow{
    box-shadow: 2px 1px 8px -3px $lightgrey;
}
@mixin header-shadow{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
@mixin but-shadow{
    box-shadow: 0px, 6px, 5px, 0px rgba(0, 0, 0, 0.5);
}
@mixin card-shadow{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
@mixin valid-shadow{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
@mixin FlexRowCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin FlexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin FlexColumnStart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin FlexRowBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
