footer{
    background-color: $nightrider;
    color: white;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0px 10px 0px;
    
    img{
        
        
    }
    ul{
        line-height: 5%;
        padding-left: 20px;
    }
    li{
        display: flex;
        gap: 10px;
    }
    p{
        color: white;
        font-weight: 300;
    }
}
.bold{
    font-weight: 400;
}
.footlogo{
    padding: 0px 20px;
}