@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/colors";



.geoloc {
    width: 100%;
    background-color: #eaeaea;
    @include FlexRowCenter;
    gap: 20px;
    
    p{
        font-weight: 500
    }
}

.title{
    @include FlexColumnCenter;
    gap: 15px;
    height: 260px;
    width: 100%;
    background-color: $backcolor;
    
    @media screen and (min-width: $breakpoint) {
        
        gap: 30px; 
    }
    h1{
        text-align: center;
        margin: 0px 50px 0px 50px;

        @media screen and (min-width: $breakpoint) {
            font-size: 40px;
            
        }
    }
    p{
        text-align: center;
        margin: 0px 50px 0px 50px;
        
    }
    button{
        margin-top: 20px;
    }
}

.container{
    @include FlexColumnStart;
    gap: 20px;
    box-sizing: border-box;
    width: 80%;

    @media screen and (min-width: $breakpoint) {
       width: 70%;
       
    }

}

.fonctionnement{
    width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 40px;
    @include FlexColumnCenter;
    
    ul{
        @include FlexRowStart;
        flex-wrap: wrap;
        gap: 20px; 
    }
    li{
        @include FlexRowCenter;
        gap: 20px;
        border-radius: 25px;
        @include card-shadow;
        width: 322px;
        height: 72px;
        position: relative;
        background-color: $backcolor;
            
        .number{
            position: absolute;
            left: -12px;
        }      
    }
    a{
        @include FlexRowCenter;
        gap: 20px;
        border-radius: 25px;
        width: 322px;
        height: 72px;
    
        p{
            font-weight: 500;
        }
    }

}
   

.restaurants{
    width: 100%;;
    padding-top: 50px;
    padding-bottom: 50px;
    @include FlexColumnCenter;
    background-color: $backcolor;
    
    ul{
        width: 100%;
        padding: 0px;
        margin: 0px;
        @include FlexRowCenter;
        flex-wrap: wrap;
        gap: 20px;
        
        @media screen and (min-width: $breakpoint) {
            @include FlexRowBetween;
            flex-wrap: wrap;
            gap: 50px;   
        }
    }
}
