@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/colors";
@import "../utils/animations";

@import "../base/header";
@import "../base/general";
@import "../base/footer";




body{
    width: 100%;
    height: auto;
}
main{
    position: relative;
}
.main-picture{
    width: 100%;
    height: 275px;

    @media screen and (min-width: $breakpoint) {
        height: 383px;
        
    }
    
    img{
        object-fit:cover; 
        width: 100%;
        height: 275px;

        @media screen and (min-width: $breakpoint) {
            height: 383px;
            object-position: 0 60%;
        }
    }
}

.menu{
    background-color: $backcolor;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    width: 100%;
    margin-top: -50px;
    padding-top: 10px;
    @include FlexColumnCenter;

    @media screen and (min-width: $breakpoint) {
        width: 70%;
    }
}

.title-restaurant{
    @include FlexRowBetween;
    width: 320px;
    height: 30px;
    margin: 20px 40px 20px 0px;
    padding-left: 17px;

    @media screen and (min-width: $breakpoint) {
        @include FlexRowCenter;
        gap: 20px;
        margin-bottom: 40px;
        
    }
    
    h1{
        
        font-family: 'Shrikhand', serif;
        font-size: 28px;
    }
}

.entrees-plats-desserts{
    @include FlexColumnStart;
    gap: 5px;
    padding-left: 14px;

    @media screen and (min-width: $breakpoint) {
        width: 70%;
        
    }

    ul{
        width: 100%;
        height: auto;
        @include FlexColumnStart;
        gap: 10px;
        margin-bottom: 50px;  
    }
}

.button{
    
    text-align: center;
    margin-bottom: 50px;
}