@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/colors";

@import "../base/header";
@import "../base/general";
@import "../base/footer";


h1{
        
    font-family: 'Shrikhand', serif;
}
h2{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
h3{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    margin-left: 0px;
}
.price{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    margin: 0px;
}
body{
    width: 100%;
}
main{
    position: relative;
    width: 100%;
    height: 1400px;
}
.main-picture{
    width: 100%;
    height: 275px;
   
    img{
        object-fit:cover; 
        width: 375px;
        height: 275px;
    }
}

.menu{
    background-color: $backcolor;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    width: 100%;
    margin-top: -50px;
    padding-left: 10px;
}

.title{
    @include FlexRowBetween;
    height: 30px;
    margin: 20px 40px 20px 0px;
    
    h1{
        
        font-family: 'Shrikhand', serif;
    }
}

.entrees-plats-desserts{
    @include FlexColumnStart;
    gap: 5px;

    ul{
        width: 100%;
        height: auto;
        @include FlexColumnStart;
        gap: 10px;
        margin-bottom: 50px;
    
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: 0px;
            width: 340px;
            height: 69px;
            @include box-shadow;
            border-radius: 16px;
            
            
            

            div{
                
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8px;
                margin:0px 0px 10px 10px ;
                
                p{
                    margin: 0px;
                }
            }
            
            .price{
                margin: 10px;
            }
            
            

        }
    }
}
.button{
    @include but-shadow;
    text-align: center;
}
footer{
    position: relative;
    margin-bottom: 0px;
}